.header{
	background-color: gray;
}

.login{
	display: inline-block;
	color: white;
	padding: 0 10px;
}

.date{
	padding: 0 10px;
	font-size: 15px;
}

.footer{
	background-color: gray;
}

.hoge{
	display: inline-block;
	padding: 0 10px;
	color: white;
}

.main{
	padding-top: 50px;
	padding-bottom: 50px;
}

.name{
	font-weight: bold;
}

.id{
	font-weight: bold;
}