.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.wrapper{
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.header{
    width: 600px;
    height: 150px;
    background-color: #ffff00;
}

.upper-left{
    width: 200px;
    height: 150px;
    background-color: #33ffff;
    float: left;
}

.upper-middle{
    width: 200px;
    height: 150px;
    background-color: #ff0000;
    float: left;
}

.upper-right{
    width: 200px;
    height: 150px;
    background-color: #0000ff;
    float: left;
}

.lower-left{
    width: 450px;
    height: 150px;
    background-color: #00ff00;
    float: left;
}

.lower-right{
    width: 150px;
    height: 150px;
    background-color: #ff00ff;
    float: left;
}

.footer{
    width: 600px;
    height: 150px;
    background-color: #33ffff;
    float: left;
}